mixin Randomizer({id, label, collection})
	.Randomizer(id=id)
		div.title=`${label}: `
		div.response &nbsp;

	script.
		document.getElementById('#{id}').addEventListener('click', () => setContent('#{id}', #{collection}))
